<div style="height: '1000px'" class="container customContainer">
  <ngx-loading [show]="showLoading" [config]="{ 
      backdropBorderRadius: '14px', 
      backdropBackgroundColour: 'rgba(0,0,0,0.87)',
      fullScreenBackdrop: 'true',
      backdropBorderRadius: '10px',
      primaryColour: '#ffffff', 
      secondaryColour: '#ffffff', 
      tertiaryColour: '#ffffff'
   }">
  </ngx-loading>
  <div class="row">
    <div class="genres">
      <label for="name">Genre</label>
      <ng-select [items]="genres$ | async" name="genres" bindLabel="name" bindValue="name" (change)="getByGenre($event)">
      </ng-select>
    </div>
  </div>

  <div class="row" [@listAnimation]="books.length">
    <div *ngFor="let item of books;trackBy:tbFn">
      <app-book-preview [model]="item">

      </app-book-preview>
    </div>
  </div>
</div>
<div class="jumbotron" *ngIf="books.length==0 && booksLoaded" style="width: 70%;
margin-left: 17%;">
  <h1 class="display-4">No books found :(</h1>
  <hr class="my-4">
</div>