<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 customCard">
  <div *ngIf="isHovered">
    <img src="{{this.model.ImageUrl}}" class="bookImageHover" />
  </div>
  <a routerLink="/books/details/{{model.id}}" (click)="setCreatorId(model.CreatorId)">
    <div #captionHover class="thumbnail" (mouseover)="mouseOver()">
      <div class="caption" style="z-Index: 0">
        <h3 class="bookTitle">
          {{model.Title}}
        </h3>
        <small style="height: 25px;display: block;">Author: {{model.Author}}</small>
        <hr />
        <small>Genre: <b>{{model.Genre}}</b></small>
        <hr/>
        <p class="max-lines">
          {{model.Description}}
        </p>
        <hr />
        <p style="height: 40px">
          <b>Released</b>: {{model.Published}}
        </p>
        <hr/>
        <span class="addedInfo">
          Added on {{model.CreatedOn?.toLocaleDateString()}} by {{model.CreatorName}}
        </span>
        <hr />
      </div>
    </div>
  </a>
</div>