<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 customCard">
  <div *ngIf="isHovered">
    <img src="{{this.model.imageUrl}}" class="bookImageHover" />
  </div>
  <a routerLink="/books/details/{{model.id}}">
    <div #captionHover class="thumbnail" [ngStyle]="{'opacity':shouldBlur ? '0.5':'1'}" (mouseover)="mouseOver()">
      <div class="caption" style="z-Index: 0">
        <h3 class="bookTitle">
          {{model.title}}
        </h3>
        <small>Author: {{model.author}}</small>
        <hr />
        <p class="max-lines">
          {{model.description}}
        </p>
        <hr />
        <p style="height: 40px">
          <b>Released</b>: {{model.published}}
        </p>
        <hr />
      </div>
    </div>
  </a>
</div>