<div class="container">
  <div class="row">
    <div class="col-12">
      <form #f="ngForm" (ngSubmit)="create()">
        <div class="row">
          <div class="col-6" style="margin-left: 25%">
            <div class="form-group">
              <label for="name">Title</label>
              <input required type="text" id="title" name="title" [(ngModel)]="bindingModel.Title" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="margin-left: 25%">
            <div class="form-group">
              <label for="name">Author</label>
              <input required type="text" id="author" name="author" [(ngModel)]="bindingModel.Author" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="margin-left: 25%">
            <div class="form-group">
              <textarea required type="text" id="description" class="form-control" name="description" [(ngModel)]="bindingModel.Description"
                rows="8"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="margin-left: 25%">
            <div class="form-group">
              <label for="name">Published</label>
              <input required type="text" id="published" name="published" [(ngModel)]="bindingModel.Published" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="margin-left: 25%">
            <div class="form-group">
              <label for="name">Genre</label>
              <ng-select [items]="genres$ | async" name="genres" bindLabel="name" bindValue="name" [(ngModel)]="bindingModel.Genre">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="margin-left: 25%">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input required type="text" id="imagePath" name="imagePath" [(ngModel)]="bindingModel.ImageUrl" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="margin-left: 25%">
            <img src="{{bindingModel.ImageUrl}}" class="img-responsive">
          </div>
        </div>
        <hr>
        <br/>
        <button class="btn btn-success" [disabled]="f.invalid" type="submit">Create</button> |
        <button class="btn btn-primary" routerLink="/books/list">Back</button>
        <hr>
      </form>
    </div>
  </div>
</div>